asgiref==3.2.10
Django==2.1.5
django-cors-headers==3.2.1
django-markdownx==3.0.1
djangorestframework==3.11.1
djangorestframework-jwt==1.11.0
importlib-metadata==2.0.0
Markdown==3.2.2
Pillow==7.2.0
PyJWT==1.7.1
pytz==2020.1
sqlparse==0.3.1
zipp==3.2.0
